<div class="modal-container">
  <div class="modal-header">
     <button class="close-button" (click)="close()">
          <i class="pi pi-times"></i>
      </button>
    <h2 class="modal-title">Your Regular Physical Activity Level?</h2>
    <p class="modal-subtitle">This Helps Us Create Your Personalized Plan</p>
  </div>
  
  <div class="modal-content">
    <lib-fitness-form-radio 
      [config]=" activityLevelOptions "
      [selectedItem]="selectedActivityLevel"
      (selectedItemChange)="onLevelChange($event)"
    />
  </div>
  
  <div class="modal-actions">
    <button 
      pButton 
      class="p-button-primary next-button"
      (click)="onNext()"
      label="Next"
    ></button>
  </div>
</div>