
#workouts.at-home {
  & {
    background-image: url("/images/workouts/workouts.jpg");
    background-position: center center;
    background-size: 100% 100%;

  }

}

#workouts.main ::ng-deep .nav-tabs li a {
  color: var(--gray-100);
}





