<div class="modal-container">
      <div class="modal-header">
        <h2 class="modal-title">Logout</h2>
        <button class="close-button" (click)="close()">
          <i class="pi pi-times"></i>
        </button>
      </div>
      
      <div class="modal-content">
        <p class="confirmation-text">Are you sure you want to logout?</p>
      </div>
      
      <div class="modal-actions">
        <button 
          pButton 
          class="cancel-button"
          (click)="close()"
          label="Cancel"
        ></button>
        <button 
          pButton 
          class="logout-button"
          (click)="confirmLogout()"
          label="Yes, Logout"
        ></button>
      </div>
    </div>
