


#meals.at-home {
  & {
    background-image: url("/images/meals/meals-bg.jpg");
    background-position: center center;
    background-size: 100% 100%;

  }

}


#meals.main ::ng-deep .nav-tabs li a {
  color: var(--gray-100);
}

