#main-btn {
    button {
        font-family: var(--font-2);
        border: 0;
        outline: 0;
        background-color: var(--main-color);
        color: #f3f3f4;
        padding: 0.625rem 1.125rem;
        border-radius: 1.25rem;
        text-transform: capitalize;
    }
    .icon {
        width: 35px;
        height: 35px;
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2.12px solid #f3f3f4;
        border-radius: 50%;
        position: absolute;
        right: -23px;
        top: 0;
    }
}
