.why-us-layout {
    padding: 1rem;
    background-color: var(--section-bg);
    color: var(--text-color);
    @media all and (min-width: 48rem) {
        padding: 2.5rem 5rem;
    }
    article {
        @media all and (max-width: 62rem) {
            margin-bottom: 1rem;
        }
        .goals-p {
            font-family: var(--font-2);
            font-weight: 400;
            font-size: 1.125rem;
            line-height: 1.8rem;
            letter-spacing: 0px;
            vertical-align: middle;
            margin: 1.5rem 0 1rem;
            @media all and (min-width: 62rem) {
                margin: 1.5rem 0 4rem;
            }
        }
        ul {
            overflow: hidden;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                inset-inline-start: 1.4375rem;
                top: 2.5rem;
                bottom: 5.625rem;
                width: 1.5px;
                background: linear-gradient(to bottom, var(--step-border-color) 50%, transparent 50%);
                background-size: 1.5px 30px;
                background-repeat: repeat-y;
                margin-bottom: 32px;
                border-left: none;
                z-index: 1;
                @media all and (min-width: 24.3125rem) {
                    inset-inline-start: 1.9063rem;
                }
                @media all and (min-width: 62rem) {
                    background-size: 1.5px 2.5rem;
                    top: 1.875rem;
                    bottom: 3.4375rem;
                }
            }
            li {
                font-family: var(--font-3);
                margin-bottom: 2rem;
                position: relative;
                z-index: 2;
                .step-wrapper {
                    position: relative;
                    @media all and (max-width: 47.9375rem) {
                        justify-content: space-between;
                    }
                    .step-num {
                        width: 2.8125rem;
                        height: 2.8125rem;
                        border-radius: 1.875rem;
                        background-color: var(--step-bg);
                        color: var(--step-color);
                        border: 0.0625rem solid var(--step-border-color);
                        font-weight: 700;
                        font-size: 0.6937rem;
                        line-height: 1.2rem;
                        letter-spacing: 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        z-index: 3;
                        @media all and (min-width: 24.3125rem) {
                            width: 3.75rem;
                            height: 3.75rem;
                        }
                        @media all and (min-width: 24.3125rem) {
                            width: 3.125rem;
                            height: 3.125rem;
                        }
                        @media all and (min-width: 83.25rem) {
                            width: 3.75rem;
                            height: 3.75rem;
                        }
                    }
                }
                h3 {
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.5rem;
                    margin-bottom: 0.5rem;
                    text-transform: capitalize;
                    @media all and (min-width: 24.3125rem) {
                        font-size: 1.0437rem;
                    }
                }
                p {
                    font-family: var(--font-2);
                    font-weight: 400;
                    font-size: 0.875rem;
                    line-height: 1.6rem;
                    margin: 0;
                    @media all and (min-width: 24.3125rem) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    figure {
        .images-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
            height: 100%;
            padding-inline: 0.5rem;
            @media all and (max-width: 48rem) {
                justify-content: center;
            }
            @media all and (min-width: 62rem) {
                flex-direction: column;
                justify-content: start !important;
            }
            @media all and (min-width: 83.25rem) {
                flex-direction: row;
                justify-content: space-between;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.6375rem;
                margin: 0 0;
                @media all and (min-width: 48rem) {
                    border-radius: 1.125rem;
                }
            }
            .first-col {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 0.5rem;
                padding: 0;
                .trainer-1 {
                    width: 140px;
                    height: 13.375rem;
                    @media all and (min-width: 22.4375rem) {
                        width: 160px;
                    }
                    @media all and (min-width: 24.3125rem) {
                        width: 10.3125rem;
                    }
                    @media all and (min-width: 25.8125rem) {
                        width: 180px;
                        height: 230px;
                    }
                    @media all and (min-width: 48rem) {
                        width: 18.1875rem;
                        height: 23.625rem;
                    }
                    @media all and (min-width: 50rem) {
                        width: 313px;
                    }
                    @media all and (min-width: 53.125rem) {
                        width: 345px;
                    }
                    @media all and (min-width: 62rem) {
                        width: 190px;
                        height: 190px;
                        margin-left: auto !important;
                    }
                    @media all and (min-width: 68.375rem) {
                        width: 220px;
                    }
                    @media all and (min-width: 1096px) {
                        width: 240px;
                    }
                    @media all and (min-width: 83.25rem) {
                        width: 18.1875rem;
                        height: 23.625rem;
                        margin-left: 0;
                    }
                }
                .trainer-2 {
                    width: 140px;
                    height: 12.1875rem;
                    @media all and (min-width: 22.4375rem) {
                        width: 160px;
                    }
                    @media all and (min-width: 24.3125rem) {
                        width: 10.3125rem;
                    }
                    @media all and (min-width: 25.8125rem) {
                        width: 180px;
                        height: 215px;
                    }
                    @media all and (min-width: 48rem) {
                        width: 18.1875rem;
                        height: 21.5rem;
                    }
                    @media all and (min-width: 50rem) {
                        width: 313px;
                    }
                    @media all and (min-width: 53.125rem) {
                        width: 345px;
                    }
                    @media all and (min-width: 62rem) {
                        width: 190px;
                        height: 190px;
                    }
                    @media all and (min-width: 68.375rem) {
                        width: 220px;
                    }
                    @media all and (min-width: 1096px) {
                        width: 240px;
                    }
                    @media all and (min-width: 83.25rem) {
                        width: 18.1875rem;
                        height: 21.5rem;
                    }
                }
            }
            .second-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.5rem;
                padding: 0;
                @media all and (min-width: 62rem) {
                    justify-content: space-around;
                }
                @media all and (min-width: 83.25rem) {
                    justify-content: center;
                }
                .trainer-3 {
                    width: 140px;
                    height: 10.125rem;
                    @media all and (min-width: 22.4375rem) {
                        width: 160px;
                    }
                    @media all and (min-width: 24.3125rem) {
                        width: 10.75rem;
                    }
                    @media all and (min-width: 25.8125rem) {
                        width: 188px;
                        height: 177px;
                    }
                    @media all and (min-width: 48rem) {
                        width: 18.9688rem;
                        height: 17.8125rem;
                    }
                    @media all and (min-width: 50rem) {
                        width: 317px;
                    }
                    @media all and (min-width: 53.125rem) {
                        width: 350px;
                    }
                    @media all and (min-width: 62rem) {
                        width: 190px;
                        height: 190px;
                        margin-left: auto !important;
                    }
                    @media all and (min-width: 68.375rem) {
                        width: 220px;
                    }
                    @media all and (min-width: 1096px) {
                        width: 240px;
                    }
                    @media all and (min-width: 83.25rem) {
                        width: 18.9688rem;
                        height: 17.8125rem;
                        margin-left: 0;
                    }
                }
                .trainer-4 {
                    width: 140px;
                    height: 12.25rem;
                    @media all and (min-width: 22.4375rem) {
                        width: 160px;
                    }
                    @media all and (min-width: 24.3125rem) {
                        width: 10.75rem;
                    }
                    @media all and (min-width: 25.8125rem) {
                        width: 188px;
                        height: 211px;
                    }
                    @media all and (min-width: 48rem) {
                        width: 18.9688rem;
                        height: 21.625rem;
                    }
                    @media all and (min-width: 50rem) {
                        width: 317px;
                    }
                    @media all and (min-width: 53.125rem) {
                        width: 350px;
                    }
                    @media all and (min-width: 62rem) {
                        width: 190px;
                        height: 190px;
                    }
                    @media all and (min-width: 68.375rem) {
                        width: 220px;
                    }
                    @media all and (min-width: 1096px) {
                        width: 240px;
                    }
                    @media all and (min-width: 83.25rem) {
                        width: 18.9688rem;
                        height: 21.625rem;
                    }
                }
            }
        }
    }
    :host-context([dir='rtl']) .images-wrapper {
        @media all and (min-width: 62rem) {
            justify-content: end !important;
        }
    }
    :host-context([dir='rtl']) .trainer-1 {
        @media all and (min-width: 62rem) {
            margin-right: auto !important;
        }
    }
    :host-context([dir='rtl']) .trainer-3 {
        @media all and (min-width: 62rem) {
            margin-right: auto !important;
        }
    }
}
