<div class="select-weight-container">
    <div>
        <app-progress-circle
            [current]="3"
            [total]="6"
        ></app-progress-circle>
    </div>

    <div class="header">
        <h1>{{ 'register.selectWeight.title' | translate }}</h1>
        <p>{{ 'register.selectWeight.subtitle' | translate }}</p>
    </div>

    <div class="weight-selection">
        <lib-fitness-input-slider
            [minWeight]="40"
            [maxWeight]="200"
            [unit]="'register.selectWeight.unit' | translate"
            (weightChange)="onWeightChange($event)"
        ></lib-fitness-input-slider>
    </div>

    <button
        class="next-btn"
        (click)="submit()"
    >
        {{ 'register.selectWeight.next' | translate }}
    </button>
</div>
